
.newsCarousel ul li{ list-style:none; display:block; padding-bottom:1px; margin-bottom:5px; }
.newsCarousel .thumbnail { float:left; width:110px; }
.newsCarousel .info { float:right; width:190px; }
.newsCarousel .info span.cat { display: block; font-size:10px; color:#808080; }


.partnersLogos ul li{ list-style:none; display:block; padding-bottom:1px; margin-bottom:5px; }
.partnersLogos .thumbnail { float:left; width:110px; }
.partnersLogos .info { float:right; width:190px; }
.partnersLogos .info span.cat { display: block; font-size:10px; color:#808080; }