@import "reset";
@import "formsstyles";
@import "homecarousels";

$orange: #ff5f24;
$textgrey: #444;
$green: #004443;
$lightgrey: #909090;
$titlebordercolor: #bec3b4;
$subbordercolor: #dfe0d7;
$formborder: #797979;


/*global styles*/
*, body {font-family: Tahoma, Verdana, Segoe, sans-serif; font-size: 12px;}
body { background-color: #fafcef;}
a {
  text-decoration: none; 
  color: $orange;
  &:hover {text-decoration:underline;}
  &:visited {color: $green;}
}
@mixin icon($width, $height, $bgposition) {
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  width: $width;
  height: $height;
  background-image: url(../images/pua_sprite.png);
  background-position: $bgposition;
  background-repeat: no-repeat;
  background-color: transparent;
  border: medium none;
}
@mixin roundcorners($radius: 5px) {
  border-radius: $radius;
}
@mixin transtion($time: 1s){
  -webkit-transition: all $time ease-in-out;  
  -moz-transition: all $time ease-in-out;  
  -o-transition: all $time ease-in-out;
}

/*containers*/
.fullWidthWrapper {width: 100%;}
.wrapper_960 {width: 960px; margin: 0 auto;}

/*topLinks*/
#topLinks {
  background-color: $orange; height: 35px; line-height: 35px; 
  a {
    color: #fff;
    margin-right: 12px;
    float: left;
    line-height: 35px;
  }
  a.language {
    color: $textgrey;
    background-color: #fff;
    border: 1px solid $lightgrey;
    line-height: 16px;
    padding: 2px 7px;
    margin-top: 6px; 

    &:hover {text-decoration:none; color: $orange;}
  }
  a .icon {float: right; margin-left: 5px; margin-top: 2px;}
  a.arabic .icon {    @include icon(14px, 12px, -938px -77px);  }
}
.topSitemapLinks {float: left;}
.search {
  float: right;
  position: relative;
  button.icon {
    @include icon(14px,15px,-940px -53px);
    position: absolute;
    right: 5px;
    top: 10px;
  }
}

/* topLogoSection */
.greenBg {  background: url(../images/top_green_bg.jpg) top center repeat-x;   }
#topLogoSection {
  display: block; height: 132px; position: relative;
  .logo {
    background: url(../images/pua_sprite.png) 0 -24px no-repeat;   width: 444px; height: 132px; display: block; top: 0; left: -100px; position: absolute; padding-left: 100px;
    img {float: left; margin-right: 10px;margin-top: 10px;}
    h1 {color: white; font: 32px/122px TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif; text-shadow:-1px -1px 0 #405229; float: left;}
  }
  .topNavigation {
    right: 0; position: absolute; top: 65px;
    ul {}
    ul li {float: left; padding: 10px 0;}    
    ul li a {color: $textgrey; padding: 0 6px; border-right: 1px solid $textgrey; float: left; line-height: 12px;
      &:hover {color:white;}
    }
    ul li:last-child a {border: medium none;}
    ul li span.login {@include icon(13px,16px,-943px -23px); float: left; margin: -4px 5px 0 0;}
    ul li .studentsLogin {@include roundcorners(); background-color: #2d2d2d; position: absolute; top: 30px; right: 0; padding: 15px 10px;  text-shadow:-1px -1px 0 #000; z-index: 2; width: 190px;}
    ul li .studentsLogin label,
    ul li .studentsLogin input { float: left; clear: both; margin: 0 0 10px;}
    ul li .studentsLogin label {color: white;}
    ul li .studentsLogin button {float: right; clear: both;}
    ul li .studentsLogin a {color: $orange; float: left; clear: both; padding: 3px 0;}
    ul li .studentsLogin a.cancel {color: $lightgrey}
    ul li.active {background-color: #2d2d2d; @include roundcorners(); padding-bottom: 20px; }
    ul li.active>a {color: white;}
  }
}

/*mainNavigation*/
#mainNavigation {
  height: 46px;
 a {
  float: left; color: $green; font-weight: 600; padding: 0 7px; line-height: 46px; border-left:1px solid transparent; border-right:1px solid transparent;
  &:hover {background-color:white; border-left:1px solid #cccccc; border-right:1px solid #cccccc; }
  &.current {background-color:white; border-left:1px solid #cccccc; border-right:1px solid #cccccc; }
 } 
}


/*homeslider*/ 
@import "homeslider";

/*horizontal separator*/
span.horizontalSep {@include icon(950px, 11px, 0 0); margin-top: 1px; margin-bottom: 20px;}


/*news and services general styles*/
.twoColumns {width: 470px;}
.news {float: left;}
.services {float: right;}
h2.title {
  color: $orange; font-size: 22px; font-weight: bold; text-transform: capitalize; border-bottom: 1px solid $titlebordercolor; padding: 10px 0; margin-bottom: 20px;
  &.home {color:$green;}
}
h2.subTitle {font-size: 18px; color: $textgrey; width: 100%; margin-bottom: 5px; text-transform: capitalize; }
.smallText {color:$lightgrey;}

/*news*/
.newsCarousel{
  ul li {border-bottom: 1px solid $subbordercolor; margin: 0 0 10px;}
  ul li figure, ul li article {float: left; }
  ul li a {float: left; margin-bottom: 10px; 
    &:hover{ text-decoration:underline; color: $orange;
      figure {border-color: $orange;}
      h2 {color: $orange;}
    }
  }
  ul li figure {margin-right: 10px;width:26%; height:95px; text-align: center; border: 1px solid $formborder; padding: 3px; background-color: white;}
  ul li figure img {width: 100%; height: 100%;}
  ul li article {width: 68%}
  ul li article p {height:58px; margin-top: 10px;overflow: auto;}
}

a.viewAll {color: $orange; float: right; font-weight: bold; line-height: 8px; width: 100%; border-bottom: 5px solid $subbordercolor; text-align: right;padding: 5px 0;
  .icon {width: 0px;height: 0px;border-top: 5px solid transparent;border-bottom: 5px solid transparent;border-left: 5px solid $orange; float: right; margin-left: 4px;}
}

/*services*/
.services {
  $servwidth: 470px;  
  ul li {width: $servwidth/3 - 10; float: left; position: relative; height: 275px; margin-right: 10px;}
  ul li h3 {color: $textgrey; font-size: 18px; font-weight: bold; width: 100%; text-align: center; height: 50px;}
  ul li span.icon {margin: 0 auto;}
  ul li.mediaGallery span.icon {@include icon(90px, 69px, -697px -20px); margin-top: 8px;}
  ul li.internationalActivities span.icon {@include icon(74px, 74px, -790px -20px);}
  ul li.academicRules span.icon {@include icon(68px, 78px, -866px -20px);}
  ul li a {height: 100%; float: left;}
  ul li a:hover {text-decoration: none;}
  ul li p {margin: 20px 5px; }
  /*animated background on hover*/
  ul li h3:before {
    content: ""; background-color: $subbordercolor; position: absolute; display: block; width:100%; height: 5px; bottom: 0; @include transtion(0.5s); z-index: -1; opacity: 0.9;
  }
  ul li:hover {
    cursor: pointer;
    h3:before {height:230px;}
  }
}


/*partners*/
.ourPartners {float: left; width: 100%;}




