/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, /Volumes/Macintosh HD 2/Work/Pharos/pua/root/sass/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 16, /Volumes/Macintosh HD 2/Work/Pharos/pua/root/sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 19, /Volumes/Macintosh HD 2/Work/Pharos/pua/root/sass/_reset.scss */
body {
  line-height: 1;
}

/* line 22, /Volumes/Macintosh HD 2/Work/Pharos/pua/root/sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 25, /Volumes/Macintosh HD 2/Work/Pharos/pua/root/sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 29, /Volumes/Macintosh HD 2/Work/Pharos/pua/root/sass/_reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 34, /Volumes/Macintosh HD 2/Work/Pharos/pua/root/sass/_reset.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 38, /Volumes/Macintosh HD 2/Work/Pharos/pua/root/sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, /Volumes/Macintosh HD 2/Work/Pharos/pua/root/sass/_homeslider.scss */
ul.slider {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: none;
}

/* line 2, /Volumes/Macintosh HD 2/Work/Pharos/pua/root/sass/_homeslider.scss */
li.slider-slide {
  position: absolute;
  display: none;
}

/* line 3, /Volumes/Macintosh HD 2/Work/Pharos/pua/root/sass/_homeslider.scss */
ul.slider-controls {
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 9999;
}

/* line 4, /Volumes/Macintosh HD 2/Work/Pharos/pua/root/sass/_homeslider.scss */
ul.slider-controls.v-centered li a {
  position: absolute;
}

/* line 5, /Volumes/Macintosh HD 2/Work/Pharos/pua/root/sass/_homeslider.scss */
ul.slider-controls.v-centered li.slider-next a {
  right: 0;
}

/* line 6, /Volumes/Macintosh HD 2/Work/Pharos/pua/root/sass/_homeslider.scss */
ul.slider-controls.v-centered li.slider-prev a {
  left: 0;
}

/* line 7, /Volumes/Macintosh HD 2/Work/Pharos/pua/root/sass/_homeslider.scss */
ol.slider-markers {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

/* line 8, /Volumes/Macintosh HD 2/Work/Pharos/pua/root/sass/_homeslider.scss */
ol.slider-markers.h-centered {
  text-align: center;
}

/* line 9, /Volumes/Macintosh HD 2/Work/Pharos/pua/root/sass/_homeslider.scss */
ol.slider-markers li {
  display: inline;
}

/* line 10, /Volumes/Macintosh HD 2/Work/Pharos/pua/root/sass/_homeslider.scss */
ol.slider-markers li a {
  display: inline-block;
}

/* line 11, /Volumes/Macintosh HD 2/Work/Pharos/pua/root/sass/_homeslider.scss */
p.slider-caption {
  display: block;
  width: 96%;
  margin: 0;
  padding: 2%;
  position: absolute;
  bottom: 0;
}

/* line 2, /Volumes/Macintosh HD 2/Work/Pharos/pua/root/sass/_newscarousel.scss */
.newsCarousel ul li {
  list-style: none;
  display: block;
  padding-bottom: 1px;
  margin-bottom: 5px;
}

/* line 3, /Volumes/Macintosh HD 2/Work/Pharos/pua/root/sass/_newscarousel.scss */
.newsCarousel .thumbnail {
  float: left;
  width: 110px;
}

/* line 4, /Volumes/Macintosh HD 2/Work/Pharos/pua/root/sass/_newscarousel.scss */
.newsCarousel .info {
  float: right;
  width: 190px;
}

/* line 5, /Volumes/Macintosh HD 2/Work/Pharos/pua/root/sass/_newscarousel.scss */
.newsCarousel .info span.cat {
  display: block;
  font-size: 10px;
  color: #808080;
}

/* line 8, /Volumes/Macintosh HD 2/Work/Pharos/pua/root/sass/_newscarousel.scss */
.partnersLogos ul li {
  list-style: none;
  display: block;
  padding-bottom: 1px;
  margin-bottom: 5px;
}

/* line 9, /Volumes/Macintosh HD 2/Work/Pharos/pua/root/sass/_newscarousel.scss */
.partnersLogos .thumbnail {
  float: left;
  width: 110px;
}

/* line 10, /Volumes/Macintosh HD 2/Work/Pharos/pua/root/sass/_newscarousel.scss */
.partnersLogos .info {
  float: right;
  width: 190px;
}

/* line 11, /Volumes/Macintosh HD 2/Work/Pharos/pua/root/sass/_newscarousel.scss */
.partnersLogos .info span.cat {
  display: block;
  font-size: 10px;
  color: #808080;
}

/* line 8, ../sass/main.scss */
a {
  color: #444444;
}
/* line 10, ../sass/main.scss */
a:hover {
  color: orange;
}
/* line 11, ../sass/main.scss */
a img {
  border-color: #cacaca;
}
/* line 12, ../sass/main.scss */
a:hover img {
  border-color: orange;
}
