/* http://meyerweb.com/eric/tools/css/reset/  v2.0 | 20110126 License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after { content: ''; content: none; }

q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

input { border: 1px solid #797979; border-radius: 0; background-color: white; padding: 2px 7px; width: 175px; }

label { width: 170px; }

button { cursor: pointer; border-radius: 0; border: 1px solid #797979; background-color: #e8e8e8; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e8e8e8), color-stop(100%, #c7c7c7)); background-image: -webkit-linear-gradient(top, #e8e8e8, #c7c7c7); background-image: -moz-linear-gradient(top, #e8e8e8, #c7c7c7); background-image: -ms-linear-gradient(top, #e8e8e8, #c7c7c7); background-image: -o-linear-gradient(top, #e8e8e8, #c7c7c7); background-image: linear-gradient(top, #e8e8e8, #c7c7c7); -webkit-box-shadow: inset 0 0 1px 1px #f7f7f7; -moz-box-shadow: inset 0 0 1px 1px #f7f7f7; box-shadow: inset 0 0 1px 1px #f7f7f7; }

button:hover { background-color: #e8e8e8; background-image: transparent; }

button:active { background-color: #c7c7c7; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c7c7c7), color-stop(100%, #e8e8e8)); background-image: -webkit-linear-gradient(top, #c7c7c7, #e8e8e8); background-image: -moz-linear-gradient(top, #c7c7c7, #e8e8e8); background-image: -ms-linear-gradient(top, #c7c7c7, #e8e8e8); background-image: -o-linear-gradient(top, #c7c7c7, #e8e8e8); background-image: linear-gradient(top, #c7c7c7, #e8e8e8); }

.newsCarousel ul li { list-style: none; display: block; padding-bottom: 1px; margin-bottom: 5px; }

.newsCarousel .thumbnail { float: left; width: 110px; }

.newsCarousel .info { float: right; width: 190px; }

.newsCarousel .info span.cat { display: block; font-size: 10px; color: #808080; }

.partnersLogos ul li { list-style: none; display: block; padding-bottom: 1px; margin-bottom: 5px; }

.partnersLogos .thumbnail { float: left; width: 110px; }

.partnersLogos .info { float: right; width: 190px; }

.partnersLogos .info span.cat { display: block; font-size: 10px; color: #808080; }

/*global styles*/
*, body { font-family: Tahoma, Verdana, Segoe, sans-serif; font-size: 12px; }

body { background-color: #fafcef; }

a { text-decoration: none; color: #ff5f24; }
a:active { outline: medium none; }

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

.clearfix { display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix { height: 1%; }

.clearfix { display: block; }

/* close commented backslash hack */
/*containers*/
.fullWidthWrapper { width: 100%; }

.wrapper_960 { width: 960px; margin: 0 auto; }

/*topLinks*/
#topLinks { background-color: #ff5f24; height: 35px; line-height: 35px; }
#topLinks a { color: #fff; margin-right: 12px; float: left; line-height: 35px; }
#topLinks a.language { color: #444444; background-color: #fff; border: 1px solid #909090; line-height: 16px; padding: 2px 7px; margin-top: 6px; }
#topLinks a.language:hover { text-decoration: none; color: #ff5f24; }
#topLinks a .icon { float: right; margin-left: 5px; margin-top: 2px; }
#topLinks a.arabic .icon { display: block; text-indent: -9999px; overflow: hidden; width: 14px; height: 12px; background-image: url(../images/pua_sprite.png); background-position: -938px -77px; background-repeat: no-repeat; background-color: transparent; border: medium none; }
#topLinks a.english .icon { display: block; text-indent: -9999px; overflow: hidden; width: 14px; height: 12px; background-image: url(../images/pua_sprite.png); background-position: -938px -94px; background-repeat: no-repeat; background-color: transparent; border: medium none; }

.topSitemapLinks { float: left; }

.search { float: right; position: relative; }
.search button.icon { display: block; text-indent: -9999px; overflow: hidden; width: 14px; height: 15px; background-image: url(../images/pua_sprite.png); background-position: -940px -53px; background-repeat: no-repeat; background-color: transparent; border: medium none; position: absolute; right: 5px; top: 10px; }

/* topLogoSection */
.greenBg { background: url(../images/top_green_bg.jpg) top center repeat-x; }

#topLogoSection { display: block; height: 132px; position: relative; }
#topLogoSection .logo { background: url(../images/pua_sprite.png) 0 -24px no-repeat; width: 444px; height: 132px; display: block; top: 0; left: -100px; position: absolute; padding-left: 100px; }
#topLogoSection .logo img { float: left; margin-right: 10px; margin-top: 10px; }
#topLogoSection .logo h1 { color: white; font: 32px/122px TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif; text-shadow: -1px -1px 0 #405229; float: left; }
#topLogoSection .topNavigation { right: 0; position: absolute; top: 65px; }
#topLogoSection .topNavigation ul li { float: left; padding: 10px 0; }
#topLogoSection .topNavigation ul li a { color: #444444; padding: 0 6px; border-right: 1px solid #444444; float: left; line-height: 12px; }
#topLogoSection .topNavigation ul li a:hover { color: white; text-decoration: none; }
#topLogoSection .topNavigation ul li:last-child a { border: medium none; }
#topLogoSection .topNavigation ul li span.login { display: block; text-indent: -9999px; overflow: hidden; width: 13px; height: 16px; background-image: url(../images/pua_sprite.png); background-position: -943px -24px; background-repeat: no-repeat; background-color: transparent; border: medium none; float: left; margin: -4px 5px 0 0; }
#topLogoSection .topNavigation ul li .studentsLogin { border-radius: 5px; background-color: #2d2d2d; position: absolute; top: 30px; right: 0; padding: 15px 10px; text-shadow: -1px -1px 0 black; z-index: 2; width: 190px; }
#topLogoSection .topNavigation ul li .studentsLogin label, #topLogoSection .topNavigation ul li .studentsLogin input { float: left; clear: both; margin: 0 0 10px; }
#topLogoSection .topNavigation ul li .studentsLogin label { color: white; }
#topLogoSection .topNavigation ul li .studentsLogin button { float: right; clear: both; }
#topLogoSection .topNavigation ul li .studentsLogin a { color: #ff5f24; float: left; clear: both; padding: 3px 0; }
#topLogoSection .topNavigation ul li .studentsLogin a.cancel { color: #909090; }
#topLogoSection .topNavigation ul li.active { background-color: #2d2d2d; border-radius: 5px; padding-bottom: 20px; }
#topLogoSection .topNavigation ul li.active > a { color: white; }

/*mainNavigation*/
#mainNavigation { height: 46px; }
#mainNavigation a { float: left; color: #004443; font-weight: 600; padding: 0 7px; line-height: 46px; border-left: 1px solid transparent; border-right: 1px solid transparent; }
#mainNavigation a:hover { background-color: white; border-left: 1px solid #cccccc; border-right: 1px solid #cccccc; text-decoration: none; }
#mainNavigation a.current { background-color: white; border-left: 1px solid #cccccc; border-right: 1px solid #cccccc; }

/*homeslider*/
ul.slider { position: relative; list-style: none; padding: 0; margin: 0; overflow: hidden; display: none; }

li.slider-slide { position: absolute; display: none; }

ul.slider-controls { list-style: none; margin: 0; padding: 0; z-index: 9999; }

ul.slider-controls.v-centered li a { position: absolute; }

ul.slider-controls.v-centered li.slider-next a { right: 0; }

ul.slider-controls.v-centered li.slider-prev a { left: 0; }

ol.slider-markers { list-style: none; padding: 0; margin: 0; position: absolute; right: 30px; left: auto !important; bottom: 20px; }

ol.slider-markers.h-centered { text-align: center; }

ol.slider-markers li { display: inline; float: left; margin: 0 5px; }

ol.slider-markers li a { border-radius: 50%; background-color: #444444; opacity: 0.8; display: block; width: 22px; height: 22px; text-indent: -9999px; overflow: hidden; }

ol.slider-markers li.active-marker a { background-color: #ff5f24; opacity: 0.8; }

p.slider-caption { display: block; width: 96%; margin: 0; padding: 4% 2%; position: absolute; bottom: 0; background-color: rgba(255, 255, 255, 0.6); color: #004443; font-size: 22px; text-shadow: 1px 1px 0 #cacaca; font-weight: bolder; }

/*horizontal separator*/
span.horizontalSep { display: block; text-indent: -9999px; overflow: hidden; width: 950px; height: 11px; background-image: url(../images/pua_sprite.png); background-position: 0 0; background-repeat: no-repeat; background-color: transparent; border: medium none; margin-top: 1px; margin-bottom: 20px; }

/*news and services general styles*/
.twoColumns { width: 470px; }

.news { float: left; }

.services { float: right; }

h2.title { color: #ff5f24; font-size: 22px; font-weight: bold; text-transform: capitalize; border-bottom: 1px solid #bec3b4; padding: 10px 0; margin-bottom: 20px; }
h2.title.home { color: #004443; }

h2.subTitle { font-size: 18px; color: #444444; width: 100%; margin-bottom: 5px; text-transform: capitalize; }

.smallText { color: #909090; }

/*news*/
.newsCarousel ul li { border-bottom: 1px solid #dfe0d7; margin: 0 0 10px; }
.newsCarousel ul li figure, .newsCarousel ul li article { float: left; }
.newsCarousel ul li a { float: left; margin-bottom: 10px; }
.newsCarousel ul li a h2.subTitle { height: 18px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.newsCarousel ul li a:hover { color: #ff5f24; }
.newsCarousel ul li a:hover figure { border-color: #ff5f24; }
.newsCarousel ul li a:hover h2, .newsCarousel ul li a:hover p { color: #ff5f24; }
.newsCarousel ul li figure { margin-right: 10px; width: 26%; height: 95px; text-align: center; border: 1px solid #797979; padding: 3px; background-color: white; }
.newsCarousel ul li figure img { width: 100%; height: 100%; }
.newsCarousel ul li article { width: 68%; }
.newsCarousel ul li article p { height: 58px; margin-top: 10px; overflow: auto; color: #444444; }

a.viewAll { color: #ff5f24; float: right; font-weight: bold; line-height: 8px; width: 100%; border-bottom: 5px solid #dfe0d7; text-align: right; padding: 5px 0; }
a.viewAll .icon { width: 0px; height: 0px; border-top: 5px solid transparent; border-bottom: 5px solid transparent; border-left: 5px solid #ff5f24; float: right; margin-left: 4px; }

/*services*/
.services { /*animated background on hover*/ }
.services ul li { width: 146.66667px; float: left; position: relative; height: 275px; margin-right: 10px; }
.services ul li h3 { color: #444444; font-size: 18px; font-weight: bold; width: 100%; text-align: center; height: 50px; }
.services ul li span.icon { margin: 0 auto; }
.services ul li.mediaGallery span.icon { display: block; text-indent: -9999px; overflow: hidden; width: 90px; height: 69px; background-image: url(../images/pua_sprite.png); background-position: -697px -20px; background-repeat: no-repeat; background-color: transparent; border: medium none; margin-top: 8px; }
.services ul li.internationalActivities span.icon { display: block; text-indent: -9999px; overflow: hidden; width: 74px; height: 74px; background-image: url(../images/pua_sprite.png); background-position: -790px -20px; background-repeat: no-repeat; background-color: transparent; border: medium none; }
.services ul li.academicRules span.icon { display: block; text-indent: -9999px; overflow: hidden; width: 68px; height: 78px; background-image: url(../images/pua_sprite.png); background-position: -866px -20px; background-repeat: no-repeat; background-color: transparent; border: medium none; }
.services ul li a { height: 100%; float: left; }
.services ul li a:hover { text-decoration: none; }
.services ul li p { margin: 20px 5px; color: #444444; }
.services ul li h3:before { content: ""; background-color: #dfe0d7; position: absolute; display: block; width: 100%; height: 5px; bottom: 0; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; z-index: -1; opacity: 0.9; }
.services ul li:hover { cursor: pointer; }
.services ul li:hover h3:before { height: 230px; }

/*partners*/
/*global style*/
.greyWrapper { border-radius: 5px; border: 1px solid #c0c0c0; background-color: #eff1e5; padding: 10px; }

/*partners styles*/
.ourPartners { float: left; width: 100%; margin-top: 30px; position: relative; }
.ourPartners .partnersLogos { margin-left: 40px; }
.ourPartners h2 { color: #909090; text-shadow: 1px 1px 0 #f7f7f7; }
.ourPartners ul li { margin: 0 15px; }
.ourPartners ul li figure { width: 145px; height: 120px; }
.ourPartners ul li figure img { width: 100%; height: 100%; }
.ourPartners button { border: medium none; position: absolute; top: 80px; box-shadow: 0 0 0 transparent; }
.ourPartners button.logosPrevious { display: block; text-indent: -9999px; overflow: hidden; width: 35px; height: 96px; background-image: url(../images/pua_sprite.png); background-position: -585px -22px; background-repeat: no-repeat; background-color: transparent; border: medium none; left: 10px; }
.ourPartners button.logosPrevious:hover { background-position: -549px -22px; }
.ourPartners button.logosNext { display: block; text-indent: -9999px; overflow: hidden; width: 35px; height: 96px; background-image: url(../images/pua_sprite.png); background-position: -621px -22px; background-repeat: no-repeat; background-color: transparent; border: medium none; right: 10px; }
.ourPartners button.logosNext:hover { background-position: -657px -22px; }

/*footer styles*/
#footer { background: #004443 url(../images/footer-bg.jpg) repeat-x top center; margin-top: 50px; padding-top: 40px; /*social profiles*/ }
#footer .wrapper_960 { position: relative; }
#footer .footerList { float: left; width: auto; margin-right: 25px; }
#footer ul { width: 100%; margin-bottom: 20px; }
#footer ul li { padding-left: 20px; background: url(../images/pua_sprite.png) no-repeat -942px -134px; margin: 3px 0; }
#footer ul li.title, #footer ul li.title a { color: #bababa; font-weight: 600; margin-bottom: 16px; padding: 0; background: transparent none; }
#footer ul li a { color: white; }
#footer ul li a:hover { color: #ff5f24; }
#footer .puaSocialProfile { float: right; background: url(../images/footer-logo-bg.png) -6px -14px no-repeat; width: 186px; }
#footer .followUs { display: block; text-indent: -9999px; overflow: hidden; width: 163px; height: 59px; background-image: url(../images/pua_sprite.png); background-position: -657px -122px; background-repeat: no-repeat; background-color: transparent; border: medium none; text-align: center; color: white; font-size: 18px; text-transform: uppercase; position: absolute; top: -47px; right: 12px; text-indent: 0; text-shadow: -1px -1px 0 #444444; line-height: 37px; }
#footer .footerLogo { width: 100%; text-align: center; display: block; padding-top: 30px; }
#footer .puaSocialProfile ul { width: 80%; margin-left: 10%; }
#footer .puaSocialProfile ul li { background: transparent none; float: left; width: 100%; margin: 3px 0; }
#footer .puaSocialProfile ul li a { width: 100%; line-height: 22px; }
#footer .puaSocialProfile ul li .icon { margin-right: 5px; }
#footer .puaSocialProfile ul li .icon, #footer .puaSocialProfile ul li a { float: left; }
#footer .puaSocialProfile .facebook { display: block; text-indent: -9999px; overflow: hidden; width: 21px; height: 21px; background-image: url(../images/pua_sprite.png); background-position: -830px -107px; background-repeat: no-repeat; background-color: transparent; border: medium none; }
#footer .puaSocialProfile .twitter { display: block; text-indent: -9999px; overflow: hidden; width: 21px; height: 21px; background-image: url(../images/pua_sprite.png); background-position: -852px -107px; background-repeat: no-repeat; background-color: transparent; border: medium none; }

/*copyright*/
#footer .copyRight { width: 100%; display: block; height: 30px; text-align: center; color: white; background-color: #ff5f24; overflow: hidden; line-height: 30px; }
#footer .copyRight a { font-weight: bold; color: #004443; }

/*rtl fixes*/
[dir="rtl"] .topSitemapLinks, [dir="rtl"] #topLinks a, [dir="rtl"] #topLogoSection .topNavigation ul li, [dir="rtl"] #topLogoSection .topNavigation ul li span.login, [dir="rtl"] #topLogoSection .logo img, [dir="rtl"] #topLogoSection .logo h1, [dir="rtl"] #mainNavigation a, [dir="rtl"] .news, [dir="rtl"] .newsCarousel ul li figure, [dir="rtl"] .newsCarousel ul li article, [dir="rtl"] .services ul li, [dir="rtl"] #footer .footerList, [dir="rtl"] #footer .puaSocialProfile ul li .icon, [dir="rtl"] #footer .puaSocialProfile ul li a, [dir="rtl"] #topLogoSection .topNavigation ul li .studentsLogin label, [dir="rtl"] #topLogoSection .topNavigation ul li .studentsLogin input, [dir="rtl"] #topLogoSection .topNavigation ul li .studentsLogin a { float: right; }

[dir="rtl"] .search, [dir="rtl"] .services, [dir="rtl"] a.viewAll, [dir="rtl"] a.viewAll .icon, [dir="rtl"] #footer .puaSocialProfile, [dir="rtl"] #topLogoSection .topNavigation ul li .studentsLogin button { float: left; }

[dir="rtl"] #topLogoSection .topNavigation ul li .studentsLogin { right: auto; left: 0; }

[dir="rtl"] .search button.icon { right: auto; left: 5px; }

[dir="rtl"] #topLogoSection .logo { right: -100px; left: auto; padding-left: 0; padding-right: 100px; }

[dir="rtl"] #topLogoSection .logo img { margin-left: 10px; margin-right: 0; }

[dir="rtl"] #topLogoSection .topNavigation { left: 0; right: auto; }

[dir="rtl"] #topLogoSection .topNavigation ul li a { border-left: 1px solid #444444; border-right: medium none; }

[dir="rtl"] #topLogoSection .topNavigation ul li:last-child a { border-left: medium none; }

[dir="rtl"] #topLogoSection .topNavigation ul li span.login { margin: -4px 0 0 5px; }

[dir="rtl"] ol.slider-markers { right: auto; left: 30px !important; }

[dir="rtl"] .newsCarousel ul li figure { margin-right: 0; margin-left: 10px; }

[dir="rtl"] a.viewAll { text-align: left; }

[dir="rtl"] a.viewAll .icon { margin-left: 0; margin-right: 4px; border-left: medium none; border-right: 5px solid #FF5F24; }

[dir="rtl"] #footer .followUs { left: 12px; right: auto; }

[dir="rtl"] #footer .puaSocialProfile ul { margin-right: 20%; margin-left: 0; }

[dir="rtl"] #footer ul li { padding-left: 0; padding-right: 20px; background: url(../images/ar-arrow.png) right center no-repeat; }

[dir="rtl"] #footer .puaSocialProfile { width: 184px; }

[dir="rtl"] #footer .footerList { margin-right: 25px; margin-left: 0; }

[dir="rtl"] #footer ul li.title, [dir="rtl"] #footer ul li.title a { padding: 0; background: transparent none; }

[dir="rtl"] #footer .puaSocialProfile ul li { background: transparent none; }

[dir="rtl"] .ourPartners .partnersLogos { direction: ltr; margin-right: 40px; margin-left: 0; }
